:root {
  --color-background: #02001e;
  --color-text: #f1f1f1;
  --color-accent: #32ce73;
  --color-primary: #02001e;
  --color-secondary: #474bff;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.light-mode {
  --color-background: #e7e7e7;
  --color-text: #333333;
  --color-accent: #09a44a;
  --color-primary: #02001e;
  --color-secondary: #0073e6;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

body {
  height: 100%;
  background-color: var(--color-background);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-background);
}

.section1 {
  display: none;
  transform: translateY(0) scale(1);
  padding: 0;
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

.section2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section3 {
  display: none;
  transform: translateY(0) scale(1);
}

.section4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active-section {
  display: block;
  animation: scaleAnimation 0.4s ease-in-out;
}

@keyframes scaleAnimation {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

/*controls*/
.control-panel {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
    .control-button-icon {
      font-size: 1.2rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }
  .active-button {
    background-color: var(--color-accent) !important;
    transition: all 0.4s ease-in-out;
    .control-button-icon {
      color: var(--color-white) !important;
    }
  }
}

.theme-button {
  top: 3%;
  right: 3%;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px var(--box-shadow-1);
  transition: all 0.1s ease-in-out;
  &:active {
    transform: translateY(-5px);
  }
  .theme-button-icon {
    font-size: 1.6rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
}

/*Main page content*/

.main-page-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .left-column {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    .backimage-shape {
      transition: all 0.7s ease-in-out;
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 40% 0, 75% 100%, 0% 100%);
    }
    .myPicture {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      background-color: var(--color-black);
      transition: all 0.7s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 0.7s ease-in-out;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    color: var(--color-text);
    .name {
      font-size: 3rem;
      span {
        color: var(--color-accent);
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

.button-container {
  display: flex;
  align-self: flex-start;
}

.animated-button {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 2px solid var(--color-accent);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  .animated-button-text {
    padding: 0 2rem;
  }
  .animated-button-icon {
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
    margin: 4px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.7s ease-out;
    z-index: -1;
  }
  &:hover {
    &::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-accent);
      transform: translateX(0);
    }
  }
}

/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  color: var(--color-text);
  .left-about {
    padding-right: 5rem;
    p {
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-text);
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .about-item {
      border: 1px solid var(--color-grey-2);
      border-radius: 5px;
      transition: all 0.2s ease-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.05);
      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-accent);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      }
      .about-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;

        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: var(--color-accent);
        }
        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-text);
          letter-spacing: 2px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }
    }
  }
}

.about-stats {
  padding-bottom: 4rem;
  color: var(--color-text);
  .all-progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;
    .skill-progress {
      display: flex;
      flex-direction: column;
      .skill-title {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0.3rem;
      }
      .progress-container {
        display: flex;
        align-items: center;
        .progress-text {
          color: var(--color-text);
          margin-bottom: 0;
        }
        .progress-bar {
          width: 100%;
          height: 10px;
          background-color: var(--color-grey-2);
          margin-left: 1rem;
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            transition: all 0.7s ease-in-out;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  color: var(--color-text);
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }
}

/*timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);
    color: var(--color-text);
    .timeline-icon {
      position: absolute;
      left: -25px;
      top: 0;
      background-color: var(--color-secondary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      color: var(--color-white);
    }
    .timeline-duration {
      padding: 0.4rem 0.6rem;
      background-color: var(--color-grey-5);
      border-radius: 15px;
      display: inline-block;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      color: var(--color-white);
    }
    h5 {
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      span {
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
}

//Portfolios
.portfolio-text {
  padding: 2rem;
  text-align: center;
  color: var(--color-text);
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
  .portfolio-item {
    position: relative;
    border-radius: 15px;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 15px;
    }
    .hover-items {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
      h3 {
        font-size: 3rem;
        color: var(--color-white);
        margin-bottom: 3rem;
        text-align: center;
      }
      .portfolio-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        .portfolio-icon {
          background-color: var(--color-accent);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 1rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          font-size: 1.5rem;
          color: var(--color-white);
          margin: 0 1rem;
          &:hover {
            background-color: var(--color-white);
            color: var(--color-accent);
          }
        }
      }
    }
  }
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/*Contact section*/
.contact-content-container {
  display: flex;
  padding-top: 3.5rem;
  .left-contact-container {
    flex: 2;
    color: var(--color-text);
    h4 {
      margin-top: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
    p {
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 0.3rem 0 !important;
          padding: 0 !important;
        }
        .contact-item-name {
          display: grid;
          grid-template-columns: 40px 1fr;
          .contact-icon {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }

    .contact-social-networks-icons {
      display: flex;
      margin-top: 2rem;
      a {
        display: flex;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-accent);
        cursor: pointer;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 1rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: var(--color-background);
          .contact-social-networks-icon {
            color: var(--color-accent);
          }
        }
        .contact-social-networks-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.5rem;
        }
      }
    }
  }
  .right-contact-container {
    flex: 3;
    margin-left: 3rem;
    padding-bottom: 2rem;
    .input-control {
      margin: 1.5rem 0;
      input,
      textarea {
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-white);
        resize: none;
      }
    }
    .name-and-email-input {
      display: flex;
      :last-child {
        margin-left: 1.5rem;
      }
    }
    .submit-button {
      display: contents;
      font-size: 2rem;
      color: var(--color-text);
    }
  }
}

/*independent components content*/

.main-section-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-text);
    span {
      color: var(--color-secondary);
    }
  }
}

@import "./media";
